/*menu avanzado*/
.menu-avanzado{
	margin: 0 auto;
	padding-top:10px;
	width: 70%;
	font-family:Arial;
	font-size: 25px;

}

.opciones-avanzadas {
	margin: 0 auto;
	width:100%;
	height: 100%;
	display: flex;
	justify-content: center;
	align-items: center; 
	padding:0;
	
}

.opciones-avanzadas li{	
	display:inline;
	height:100%;
	width: 7%;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center; 
	padding: 1% 4% 1% 4%;
}

.opcion avanzada{	
	color:black;
	height:100%;
	display: flex;
	justify-content: center;
	align-items: center;	
}

.opcion-avanzada:hover{
	background:#9C9C9A;
	cursor:pointer;
}

#opcion-usuario{

}

.tabla{
    text-align:center;
    font-size:20px;
	width:55%;
	margin:0 auto;
}
.tabla tr{
    margin: 15px 0 15px 0;
}

/*opciones usuario*/
.opciones-usuario{
    margin: 0 auto;
    margin-top:2%;
}
#tabla-usuarios{

}

/*opciones eetakemon*/
.opciones-eetakemon{
	display:none;
    margin-top:2%;
}
