@import url(http://fonts.googleapis.com/css?family=Damion);

#tabla{
    padding: 2% 0 2% 0;
}

.tabla-eetakemon{
    text-align:center;
    width:55%;
    margin:0 auto;
    border-collapse:collapse;
    padding: 2% 0 2% 0;


}
.tabla-eetakemon td{
    padding: 15px 0 15px 0;

}
.tabla-eetakemon th{
    padding: 15px 0 15px 0;
    background: #777777;
    color:white;
}

.tabla-eetakemon tr:nth-child(odd) {
    background-color: #AFAFAF;
}

.tabla-eetakemon tr:hover{
    cursor:pointer;
    background-color: deepskyblue;
}