/*body*/
body {
	margin: 0 auto;
	/*background-color:rgba(206, 206, 206,1);*/
	background-color: whitesmoke;
	font-family: Arial;
	overflow-y: scroll;
}

.fixed{
	margin: 0 auto;
	width: 100%;
	top:0;
	z-index:9999;
	position:fixed;
	left: 0;
	right: 0;
	height:23%;
}

/*CABECERA*/
.cabecera{
	margin: 0 auto;
	text-align: center;
	background-color: whitesmoke;
	/*background:#C7C2C2;*/
}

.logo{
	width: 18%;
	height: 9%;
	padding:2%;
}

/*MENU*/
.menu{
	margin: 0 auto;
	width: 100%;
	/*background-color: yellow;*/
	text-align:center;
	position:fixed;
	background: red;
	height: 7%;
}

.opciones-menu {
	margin: 0 auto;
	max-width:100%;
	height: 100%;
	/*padding:20px;*/
	background-color: #F0F638;
	display: flex;
	justify-content: center;
	align-items: center; 
	padding:0;
	
}

.opciones-menu li{
	
	display:inline;
	height:100%;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center; 
	margin: 0 1% 0 1%;
	
}

.opcion{	
	color:black;
	font: bold 1.5em Arial;
	height:100%;
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opcion:hover, .opcion:focus{
	/*background-color:#06ADED;
	color:yellow;*/
	color:#06ADED;
	cursor:pointer;
}

a.opcion{
	text-decoration:none;
}


/*container*/
.container{
	width:100%;
	margin-top:12%;
	background-color:inherit;
	text-align: center;
}

.container table tr{
	border-radius:5px;
}