
@import url(http://fonts.googleapis.com/css?family=Pacifico);
@import url(http://fonts.googleapis.com/css?family=Damion);

/*body*/
body {
	margin: 0 auto;
	background-image: url("../images/Background.jpg");
	background-size: cover;
	-moz-background-size: cover;
	-webkit-background-size: cover;
	-o-background-size: cover;
	background-attachment: fixed;
	overflow-y: scroll;

}


/*MENU*/
.logo{
	margin:0;
	padding: 0;
	heigh:68px;
	width: 80px;
}


.menu{
	position:fixed;
	margin: 0 auto;
	width: 100%;
	/*background-color: yellow;*/
	text-align:center;
	top:0;
	height: 90px;
	z-index: 99;

}

.opciones-menu {
	margin: 0 auto;
	max-width:100%;
	height: 100%;
	/*padding:20px;*/
	background-color: #F0F638;
	display: flex;
	justify-content: center;
	align-items: center; 
	padding:0;
	
}

.opciones-menu li{
	
	display:inline;
	height:100%;
	text-align:center;
	display: flex;
	justify-content: center;
	align-items: center; 
	margin: 0 1% 0 1%;
	
}

.opcion{	
	color:black;
	font: bold 1.5em Arial;
	height:100%;
	padding: 0 10px 0 10px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.opcion:hover, .opcion:focus{
	/*background-color:#06ADED;
	color:yellow;*/
	color:#06ADED;
	cursor:pointer;
}

a.opcion{
	text-decoration:none;
}


/*container*/
.container{
	width:100%;
	margin-top:90px;
	text-align: center;
}
.jumbotron{
	padding-top:10px;
}

.container table tr{
	border-radius:5px;
}

.container table{
	font-family: "Damion";
	font-size: 30px;
	font-weight:200;
}


/*alert messages*/
.alert{
	position:fixed;
	top:10px;
	z-index: 100;
	width: 100%;
	display:none;


}
.alert p{
	margin: 0 auto;
	border-radius: 5px;
	padding: 1% 0 1% 0;
	width: 25%;
	font-size:20px;

}

.alert-success {
	color: #3c763d;
	background-color: #C8F7B4;
	border-color: #d6e9c6;
}

.alert-error{
	color: #a94442;
	background-color: #FCB4B4;
	border-color: #ebccd1;
}

/*fonts*/

.pacifico, .damion {
	margin-bottom: 10px;
}

.pacifico {
	font-family: "Pacifico";
	font-size: 30px;
	font-weight:200;
}

.padding {
	padding-left: 10px;
}

.damion {
	font-family: "Damion";
	font-size: 30px;
	font-weight:200;
}