body{
    background-image: url("../images/fonsblau.png");
    background-size: cover;
    -moz-background-size: cover;
    -webkit-background-size: cover;
    -o-background-size: cover;
    background-attachment: fixed;
}

.container{
    padding:0;
}

/**/
#welcome{
    margin: 0 ;
    width: 100%;
    padding: 0;
    height: 830px;
}
#info{
    float: left;
    width: 50%
}



#welcome img{
    max-width: 40%;
    margin-bottom: 25px;
}

/*#welcome-message{
    margin: 0 auto ;
    text-align: center;
    background: rgba(226, 228, 225, 0.65);
    max-width: 40%;
    padding: 7px;
    border-radius: 10px;
}*/

#floats{
    margin: 0 auto;
    margin-top: 00px;
    height: 600px;
}

#text {
    width: 50%;
    float: left;
    height: inherit;
    display: flex;
    justify-content: center;
    align-items: center;
}

#center-text{
    margin:0 auto;
    width: 80%;
    border-radius: 10px;
    background: rgba(226, 228, 225, 0.65);
}
#welcome-message{
    padding-bottom: 20px;
}

/*#phone-image{
    width: 50%;
    float:left;
    background: red;
    height: inherit;

}
#phone-image-center{
    background: yellow;
    height: inherit;
    width: 100%;
}

#phone{
    width: 1000px;
    background: brown;

}*/

/*welcome*/


#info-user{

}

#info-table{
    margin: 0 auto;
    margin-top: 20px;
    text-align: left;
}

#info-table td{
    padding: 15px 0 15px 0;
    min-width: 100px;
}

.number{
    background: white;
    border-radius: 50%;
    text-align: center;
    height: 60px;
    width: 60px;
    display: flex;
    justify-content: center;
    align-items: center;

}

/*carousel*/
#carousel{
   /* margin: 0 auto;
    margin-top: 20px;
    width: 100%;*/
    min-width: 400px;
    height: 550px;

    margin:0;
    margin-top: 20px;
    width: 50%;
    float:right;
}

#myCarousel{
    margin: 0 auto;
    height: 550px;
    width: 100%;
}

#myCarousel img
{
    margin: 0 auto;
    height: 400px;
    max-width: 400px;
}

/*footer*/
#infor{
    /*width: 100%;
    float:left;
    height: 1000px;
    background: rgba(2,0,128,1);
    background: -moz-linear-gradient(top, rgba(2,0,128,1) 0%, rgba(2,0,128,1) 20%, rgba(32,124,229,1) 100%);
    background: -webkit-gradient(left top, left bottom, color-stop(0%, rgba(2,0,128,1)), color-stop(20%, rgba(2,0,128,1)), color-stop(100%, rgba(32,124,229,1)));
    background: -webkit-linear-gradient(top, rgba(2,0,128,1) 0%, rgba(2,0,128,1) 20%, rgba(32,124,229,1) 100%);
    background: -o-linear-gradient(top, rgba(2,0,128,1) 0%, rgba(2,0,128,1) 20%, rgba(32,124,229,1) 100%);
    background: -ms-linear-gradient(top, rgba(2,0,128,1) 0%, rgba(2,0,128,1) 20%, rgba(32,124,229,1) 100%);
    background: linear-gradient(to bottom, rgba(2,0,128,1) 0%, rgba(2,0,128,1) 20%, rgba(32,124,229,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#020080', endColorstr='#207ce5', GradientType=0 );*/
    background-image: url("../images/fonsbuit.png");
    height:70%;
}
